.social-icon {
  margin-right: 25px;
}
.navigation-center {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
}
.navbar {
  min-height: 80px;
}
.navbar-brand {
  padding: 0 15px;
  height: 80px;
  line-height: 80px;
}
.navbar-toggle {
  /* (80px - button height 34px) / 2 = 23px */
  margin-top: 23px;
  padding: 9px 10px !important;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (80px - line-height of 27px) / 2 = 26.5px */
    padding-top: 26.5px;
    padding-bottom: 26.5px;
    line-height: 27px;
  }
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto";
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}
.v-header {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;
}
.container {
  max-width: 960px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: auto;
  text-align: center;
}
.fullscreen-video-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.fullscreen-video-wrap .video {
  min-width: 100%;
  min-height: 100%;
}
.header-overlay {
  height: 100vh;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: #6c645c;
  z-index: -1;
  opacity: 0.65;
}
.header-content {
  z-index: 2;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.header-content h1 {
  font-size: 50px;
  margin-bottom: 0;
}
.navbar-header a {
  font-size: 50px;
  margin-top: -30px;
}
.carousel,
.item {
  width: 100%;
}
.rtb-booking-form legend{
  font-weight:bold;
  font-size: 20px;
  font-family: 'Lato', sans-serif;

}
.rtb-text label{
  font-weight:bold;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.rtb-booking-form{
  margin-bottom: 40px;
}
.rtb-booking-form .rtb-text input{
  width: 100%;
  background: #eee;
  padding: 12px 20px;
  max-width: 100%;
}
.rtb-select select {
  padding: 5px;
  width: 150px;
  height: 29px;
}
.rtb-booking-form button {
  width: 180px;
  padding: 12px 20px;
  font-size: 15px;
  color: #7F1612;
  background: white;
  border: 2px solid #7F1612;
}
.rtb-booking-form button:hover {
  width: 180px;
  padding: 12px 20px;
  font-size: 15px;
  color: white;
  background: #7F1612;
  border: 2px solid #7F1612;
}
.add-message{
  font-weight:bold;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
.rtb-select select {
  padding: 5px;
  width: 150px;
  height: 29px;
}
.footer-wrapper{
  bottom:0;
  position: relative;
  font-family: 'Lato', sans-serif;
  background-color: #9E9E9E;
  padding: 40px 0 20px 0;
}
.about-content{
  font-family: 'Lato', sans-serif;
  color:white;
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.title-about{
   font-size:70px;
 }
.desc-about{
  font-size:35px;
}
.about-page-wrapper{
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
          ),
          url('/wp-content/themes/twentyseventeen/assets/images/kebab-imam.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.about-tava{
  font-family: 'Lato', sans-serif;
  font-size:35px;
  margin-top:40px;
}
.about-text{
  font-family: 'Lato', sans-serif;
  font-size:20px;
}
.title-reservation{
  font-size:70px;
}
.desc-reservation{
  font-size:35px;
}
.reservation-page-wrapper{
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
          ),
          url('/wp-content/themes/twentyseventeen/assets/images/kebab1.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
}
.title-gallery{
  font-size:70px;
}
.gallery-page-wrapper{
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
          ),
          url('/wp-content/themes/twentyseventeen/assets/images/image-gal.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
  width:100%;
}
.gallery-section{
  margin-top:40px;
}
.margin-style{
  margin-bottom:40px;
}
.img-style{
  width:100%;
  height:auto;
  position: relative;
}
.img-style:hover{
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}
.image-caption{
  display: none;
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size:20px;
  color:white;
}
.img-style:hover + .image-caption {
  display: block;
}
.contact-page-wrapper{
  background:
          linear-gradient(
                  rgba(0, 0, 0, 0.5),
                  rgba(0, 0, 0, 0.5)
          ),
          url('/wp-content/themes/twentyseventeen/assets/images/contact.jpg');
  background-size: cover;
  font-family: 'Lato', sans-serif;
  width:100%;
}
.title-contact{
  font-size:50px;
  font-family: 'Lato', sans-serif;
}
.desc-contact{
  font-size:25px;
  font-family: 'Lato', sans-serif;
}
.button-style{
  background: #FBB040;
  color:darkslategrey;
}
.button-style:hover{
  color:darkslategrey;
  background: #fb7908;
}
.btn-rd {
  border-radius: 40px !important;
}
.call-us{
  font-size:30px;
  font-family: 'Lato', sans-serif;
}
.visit-direction{
  font-size:20px;
  font-family: 'Lato', sans-serif;
}
.commute-title{
  font-size:25px;
  font-family: 'Lato', sans-serif;
  margin-top: 10px;
}
.direction-wrapper{
  margin:40px 0 40px 0;
}
.dropdown-menu-style{
  border-radius: 0px !important;
  margin-top:-20px !important;
}